services:
  homarr:
    image: ghcr.io/homarr-labs/homarr
    container_name: homarr
    hostname: homarr
    restart: unless-stopped
    volumes:
      - data:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    ports:
      - 7575:7575
    networks:
      net:

volumes:
  data:
    name: homarr-data

networks:
  net:
    external: true
    name: reverse-proxy-network