services:
  homarr:
    image: ghcr.io/homarr-labs/homarr
    container_name: homarr
    hostname: homarr
    restart: unless-stopped
    volumes:
      - ${HOMARR_DATA_FOLDER:-./data}:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    networks:
      net:

networks:
  net: {}