services:
  homarr:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: homarr
    hostname: homarr
    restart: unless-stopped
    volumes:
      - data:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    networks:
      net:

volumes:
  data:
    name: homarr-data

networks:
  net:
    external: true
    name: reverse-proxy-network