services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest
    container_name: homarr
    hostname: homarr
    restart: unless-stopped
    volumes:
      - ${APPDATA_FOLDER:-./appdata}:/appdata
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    ports:
      - ${WEBUI_PORT:-7575}:7575
    networks:
      - net

networks:
  net:
    external: false